@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #9d61ff;
  --secundary-color: #24ff00;
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: auto;
  width: 375px;
  padding: 0;
  font-family: var(--main-font);
  background-color: #fff;
  overflow-x: hidden;
}

.main-container {
  width: 375px;
  position: relative;
  margin: 0 auto;
}

.main-container.sidebar-open {
  margin-right: 280px;
}