@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #9D61FF;
  --secundary-color: #24FF00;
  --main-font: "Montserrat", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family:var(--main-font);
  background-color: #f5f5f5;
  overflow-x: hidden;
}